@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.container {
	background-color: #D8EEFE;
	border: 200px;
	width: 1150px;
	margin: 0 auto;
	text-align: center;
	boarder-radius: 20px;
}

.nappi {
		background-color: #FFFFFF;
		border: 10px solid #FFFFFF;
		border-radius: 10px;
		border-top: 20px;
		border-bottom: 20px;
}