@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #FFFFFE;
  font-family: 'Poppins', sans-serif;
}

/*main*/
.banner {
  width: 100%;
  height: 100%;
  background-color: #1b1b1b;

}
h1 {
  position: relative;
  font-weight: 600;
  font-size: 85px;
  padding: 5%;
  left: 25%;
  text-align: left;
  color: #094067;
  background-color: transparent;
}
h2 {
position: relative;
left: 30%;
color: #5F6C7B;
font-size: 36;
font-weight: 500;
background-color: transparent;
}
.viiva {
  border-bottom: 3px solid #EF4565;
  top: 75px;
  left: 30%;
  position: relative;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 200px;
}
button {
  background-color: #3DA9FC; color: #FFFFFE;
  border-radius: 10px;
  padding: 10px;
  font-size: 36px;
  border: none;
  position: relative;
  top: 200px;
  left: 30%;
  right: 20%;
  cursor: pointer;
  box-shadow:1px 2px #5F6C7B
}
button:hover {
  color: #EF4565;
  background-color:#72c2ff;
  box-shadow: 0px 0px;
}
.content {
  width: fit-content;
  float: left;
  background-color: transparent;
}

img {
  position: fixed;
  top: 250px;
  right: 10%;
  width: 50%;
  z-index: -2;
}